.doc-card-wrapper {
    display: inline-block;
    margin: 12px;
    min-width: 200px;
    max-width: 250px;
}

.doc-card-wrapper:hover .doc-card,
.doc-card-wrapper:hover .doc-card-b1 {
    transform: translateY(-8px);
}

.doc-card-wrapper:hover .doc-card {
    border-color: #5b2633;
}

.doc-card-b1, .doc-card-b2 {
    min-width: 200px;
    max-width: 250px;
    border-radius: 1rem;
    transition: transform 0.25s ease;
}

.doc-card-b1 {
    background: #ccc;
    z-index: 2; 
}

.doc-card-b2 {
    background: #eee;
    z-index: 1
}

.doc-card {
    display: grid;
    grid-template-rows: 130px 160px auto;
    
    cursor: pointer;

    background: white;

    border: 5px solid #E5E5E5;
    border-radius: 1rem;

    box-shadow: 0 4px 16px #cfdee9;
    overflow: hidden;
    min-width: 200px;
    max-width: 250px;

    transition: all 0.3s ease;
}

.doc-card-wrapper:hover .doc-card .doc-thumbnail {
    background-size: 115%;
}

.doc-title {
    color: #6E192E;
    margin: 0;
    font-weight: bold;
    font-size: 1.05rem !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 0.3s ease;
    border-radius: 6px;
    padding: 0 4px;
}

.doc-title:hover {
    background: rgba(255,0,0,0.15)
}

.doc-preview {
    position: relative;
    z-index: 1;
    grid-row: 1 / 2;
    overflow: hidden;
    background-color: #eee;
}

.doc-info {
    grid-row: 2/3;
    position: relative;
    z-index: 2;
    padding: 0.75rem;
    font-size: 0.75rem;
    box-shadow: 0 -24px 24px rgba(0, 0, 0, 0.1);
    min-width: 0;
}

.doc-info p {
    margin-top: 1px;
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 6px;
    padding: 0 4px 0 0;
}

.doc-info p:hover {
    background: rgba(0,0,0,0.08);
}

.doc-actions {
    display: flex;
    gap: 0;
    position: relative;
    z-index: 3;
    grid-row: 3/4;
    padding: 6px;
}

.doc-actions button {
    flex: 1;
    padding: 5px !important;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    background: #fff;
    transition: all 0.2s ease;
}

.doc-preview .tag {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 10px;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 16px;
    color: white;
    background-color: #0000CD;
    z-index: 4;
    user-select: none;
    box-sizing: border-box;
}

.doc-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    min-width: 0;
    max-width: 100%;
    word-break: break-word;
}

.doc-thumbnail {
    position: absolute;
    inset: 0;

    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

    opacity: 1;
    z-index: 3;
    transition: all 0.25s ease;
}

.doc-thumbnail::after {
    content: "";
    position: absolute;
    inset: 0;
}

/* .general {
    background: #cc9600 !important;
} */

.general {
    background: #71100F !important;
}

.secretarial {
    background: #0000CD !important;
}

.financial {
    background: #2D5A27 !important;
}

.technical {
    background: #4B0082 !important;
}

.external {
    background: #555 !important;
}

.doc-tc {
    font-family: 'Inconsolata', Courier, monospace;
    background-color: #eee;
    font-weight: bold;
    color: black;
    padding: 3px;
    border-radius: 4px;
}



.view-btn {
    color: #0e633a;
    border: 1px solid #0e633a;
}

.view-btn:hover {
    background-color: #0e633a !important;
    color: #fff;
    transform: scale(0.95);
}

.edit-btn {
    color: #270e63;
    border: 1px solid #270e63;
}

.edit-btn:hover {
    background-color: #270e63 !important;
    color: #fff;
}

.protect-btn {
    color: #630e5a;
    border: 1px solid #630e5a;
}

.protect-btn:hover {
    background-color: #630e5a !important;
    color: #fff;
}

.delete-btn {
    color: #63071e;
    display: inline-block !important;
    border: 1px solid #63071e;
    padding: 4px !important;
    max-width: 64px !important;
    max-height: 36px !important;
}

.delete-btn:hover {
    background-color: #63071e !important;
    color: #fff;
    transform: scale(0.95);
}

.document-action {
    all: unset;
    display: inline-block !important;
    max-width: 36px !important;
    max-height: 36px !important;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    box-shadow: none !important;
}

.document-action img {
    width: 32px;
    transition: transform 0.3s ease;
}

.document-action:hover img {
    transform: scale(1.1);
}

.doc-highlight {
    background-color: yellow;
    color: inherit;

    font: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    padding: 0;
    border-radius: 2px;
}