.password-input-wrapper {
    --border: #ddd;
    --border-hover: #f18585;
    --border-focus: #d36161;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: var(--w);
    height: var(--h);

    position: relative;
    
    border: 2px solid var(--border);
    border-radius: 8px;
    box-sizing: border-box;

    transition: border 0.1s ease;
}

.password-input-wrapper:hover {
    border-color: var(--border-hover);
}

.password-input-wrapper:has(input:focus) {
    border-color: var(--border-focus);
}

.password-input {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto var(--h);
    width: 100%;
    height: 100%;
}

.password-input-field,
.toggle-visibility {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

.password-input-field {
    border: none;
    width: 100%;
    padding: 0 4px;
    line-height: var(--h);
}

.toggle-visibility {
    appearance: none;
    -webkit-appearance: none;

    border: none;
    background: transparent;
    border-radius: 0 6px 6px 0;

    color: black;
    transition: background 0.3s ease, color 0.3s ease;
}

.toggle-visibility:hover {
    background-color: rgba(255, 52, 52, 0.3);
}

.toggle-visibility.active {
    color: white;
    background-color: #63071e;
}